.filter-wrapper {
    height: 70px;
    line-height: 70px;
    background: #696969;
    font-size: 18px;
    width: 100%;
    color: #fff;
    justify-content: space-evenly;
    align-items: center;
    margin: auto;
    display: none;
}

@media screen and (min-width: 1200px) {
    .filter-wrapper {
        display: flex;
    }
}

.filter-date {
    display: flex;
    gap: 8px;
    line-height: 20px;
    height: 20px;
    align-items: center;
}

.button {
    color: #000;
    background: #fff;
    border: 3px solid #000;
    border-radius: 6px;
    text-decoration: none;
    display: inline-block;
    cursor: pointer;
    padding: 14px;
    line-height: 20px;
    height: 20px;
}

/* Removes the clear button from date inputs */
input[type="date"]::-webkit-clear-button {
    display: none;
    height: 20px;
}

/* Removes the spin button */
input[type="date"]::-webkit-inner-spin-button {
    display: none;
}

/* Always display the drop down caret */
input[type="date"]::-webkit-calendar-picker-indicator {
    color: #ADFF2F;
}

/* A few custom styles for date inputs */
input[type="date"] {
    appearance: none;
    color: #000;
    font-family: "Helvetica", arial, sans-serif;
    font-size: 18px;
    border: 1px solid #000;
    background: #fff;
    padding: 5px;
    display: inline-block;
    visibility: visible;
}

input[type="date"],
focus {
    color: #000;
    box-shadow: none;
}

.pagination {
    display: inline-block;
    margin: 50px;
}

.pagination div {
    color: black;
    float: left;
    padding: 8px 16px;
    text-decoration: none;
}

.pagination div.active {
    background-color: #4CAF50;
    color: white;
}

.pagination div:hover:not(.active) {
    background-color: #ddd;
}