.App {
  text-align: center;
  font-family: 'Open Sans';
  flex-direction: column;
  align-items: center;
  display: flex;
  min-width: 750px;
}

.header {
  height: 80px;
  line-height: 80px;
  background: #282c34;
  text-align: center;
  font-size: 24px;
  color: #fff;
  width: 100%;
  display: none;
}

@media screen and (min-width: 1200px) {
  .header {
    display: block
  }
}